<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/spp_labs</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">spp</property>
        <property name="connection.password">spp</property>
        <mapping class="org.bsuir.labs.entities.ProjectsEntity"/>
        <mapping class="org.bsuir.labs.entities.ComponentsEntity"/>
        <mapping class="org.bsuir.labs.entities.ComponentsTasksEntity"/>
        <mapping class="org.bsuir.labs.entities.PrioritiesEntity"/>
        <mapping class="org.bsuir.labs.entities.ProjectUsersEntity"/>
        <mapping class="org.bsuir.labs.entities.RolesEntity"/>
        <mapping class="org.bsuir.labs.entities.SprintsEntity"/>
        <mapping class="org.bsuir.labs.entities.TasksEntity"/>
        <mapping class="org.bsuir.labs.entities.TaskUpdateLogEntity"/>
        <mapping class="org.bsuir.labs.entities.TaskWatchersEntity"/>
        <mapping class="org.bsuir.labs.entities.UsersEntity"/>
        <mapping class="org.bsuir.labs.entities.VersionsEntity"/>
        <mapping class="org.bsuir.labs.entities.VersionsEntityPK"/>
    </session-factory>
</hibernate-configuration>